*

!Dockerfile
!docker-compose.yml

!.gitignore

!public/
!public/**/*

!server/
!server/db.js
!server/index.js
!server/package.json

!server/routes/
!server/routes/**/*

!server/uploads
!server/uploads/**/*