*

!Dockerfile
!docker-compose.yml

!README.md

!.gitignorea

## El archivo .env se incluye en el repositorio únicamente de ejemplo.
!.env

!public/
!public/**/*

!server/
!server/wait-for-it.sh
!server/db.js
!server/index.js
!server/package.json

!server/routes/
!server/routes/**/*

!server/uploads
!server/uploads/**/*